<% for(var i=0; i<mascotas.length; i++){ %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="/images/mascota.png" width="auto" alt="imagenmascota">
      <div class="caption bg-info">
        <h3><strong>Datos</strong></h3>
        <p>
          <strong>Nombre</strong>: <%=mascotas[i].nombre %>
        </p>
        <p>
          <strong>Fecha nacimiento</strong>: <%=mascotas[i].fechaNacimiento %>
        </p>
        <p>
          <strong>Pais nacimiento</strong>: <%=mascotas[i].paisNacimiento %>
        </p>
        <p>
          <strong>Raza</strong>: <%=mascotas[i].idRaza.nombre %>
        </p>
        <p>
          <a href="/Mascota/eliminiarMascota?id=<%=mascotas[i].id %>" class="btn btn-danger btn-block" role="button">Borrar</a>
          <a href="/editarMascota?id=<%=mascotas[i].id%>" class="btn btn-primary btn-block" role="button">Editar</a>
        </p>
      </div>
    </div>
  </div>
<%  } %>
