<% for(var i=0; i<usuarios.length; i++){ %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="/images/usuarios.gif" width="auto" alt="imagenusuario">
      <div class="caption bg-info">
        <h3><strong>Datos</strong></h3>
        <p>
          <strong>Nombres</strong>: <%=usuarios[i].nombres %>
          <br>
          <strong>Apellidos</strong>: <%=usuarios[i].apellidos %>
          <br>
          <strong>Correo</strong>: <%=usuarios[i].correo %>
        </p>
        <p>
          <a href="/Usuario/eliminiarUsuario?id=<%=usuarios[i].id %>" class="btn btn-danger btn-block" role="button">Borrar</a>
          <a href="/editarUsuario?id=<%=usuarios[i].id%>" class="btn btn-primary btn-block" role="button">Editar</a>
        </p>
      </div>
    </div>
  </div>
<%  } %>
